<button mat-raised-button (click)="backToMenu()">Back to user menu</button>
<ng-container *ngIf="!isNewCharacter; else newCharacterBlock">
  <button mat-raised-button (click)="goToGame(0)">New Character</button>
  <button mat-raised-button (click)="toggleEditMode()">
    {{ mode === modes.edit ? 'View Mode' : 'Edit Mode' }}
  </button>
  <mat-tab-group>
    <mat-tab label="Character Sheet">
      <app-character-sheet></app-character-sheet>
    </mat-tab>
    <mat-tab label="Notes">
      <app-notes></app-notes>
    </mat-tab>
    <mat-tab label="Cheat sheets">
      <app-cheat-sheets></app-cheat-sheets>
    </mat-tab>
  </mat-tab-group>
</ng-container>
<ng-template #newCharacterBlock>
  <app-new-character></app-new-character>
</ng-template>
