<form [formGroup]="backstoryForm">
  <mat-grid-list [cols]="6" rowHeight="{{ rowHeight }}rem">
    <mat-grid-tile [colspan]="2" [rowspan]="5">
      <img [src]="backstory.image" [alt]="'Portrait of ' + name" />
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <div class="backstory__row">
        <div class="backstory__entry">
          <label for="name" class="backstory__label"> Character Name: </label>
          <div class="backstory__value">
            {{ name }}
          </div>
        </div>
        <div class="backstory__entry">
          <label for="race" class="backstory__label"> Character Race: </label>
          <div class="backstory__value">
            {{ race }}
          </div>
        </div>
        <div class="backstory__entry">
          <label for="alignment" class="backstory__label"> Alignment: </label>
          <div class="backstory__value">
            {{ backstory.alignment }}
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="4"
      [rowspan]="1"
      *ngIf="backstory.nationality || backstory.ethnicity || backstory.deity">
      <div class="backstory__row">
        <div class="backstory__entry" *ngIf="backstory.nationality">
          <label for="nationality" class="backstory__label">
            Nationality:
          </label>
          <div class="backstory__value">
            {{ backstory.nationality }}
          </div>
        </div>
        <div class="backstory__entry" *ngIf="backstory.ethnicity">
          <label for="ethnicity" class="backstory__label"> Ethnicity: </label>
          <div class="backstory__value">
            {{ backstory.ethnicity }}
          </div>
        </div>
        <div class="backstory__entry" *ngIf="backstory.deity">
          <label for="deity" class="backstory__label"> Deity: </label>
          <div class="backstory__value">
            {{ backstory.deity }}
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="4"
      [rowspan]="1"
      *ngIf="
        backstory.age ||
        (backstory.gender && backstory.pronouns) ||
        backstory.height ||
        backstory.weight
      ">
      <div class="backstory__row">
        <div class="backstory__entry" *ngIf="backstory.age">
          <label for="age" class="backstory__label"> Age: </label>
          <div class="backstory__value">
            {{ backstory.age }}
          </div>
        </div>
        <div
          class="backstory__entry"
          *ngIf="backstory.gender && backstory.pronouns">
          <div>
            <label for="gender" class="backstory__label"> Gender </label>
            (<label for="pronouns" class="backstory__label">Pronouns</label>):
          </div>
          <div class="backstory__double-input">
            <div class="backstory__value">
              {{ backstory.gender }} ({{ backstory.pronouns }})
            </div>
          </div>
        </div>
        <div class="backstory__entry" *ngIf="backstory.height">
          <label for="height" class="backstory__label"> Height: </label>
          <div class="backstory__value">
            {{ backstory.height }}
          </div>
        </div>
        <div class="backstory__entry" *ngIf="backstory.weight">
          <label for="weight" class="backstory__label"> Weight: </label>
          <div class="backstory__value">
            {{ backstory.weight }}
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <div class="backstory__row">
        appearence, attitude, beliefs, likes and dislikes block
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="4">
      <div class="backstory__row">
        <div class="backstory__entry">
          <label for="story" class="backstory__label"> Story: </label>
          <div
            class="backstory__value"
            [innerHTML]="backstory.story | sanitazeHTML"></div>
        </div>
        <div class="backstory__entry">
          <label for="notes" class="backstory__label"> Notes: </label>
          <div class="backstory__value">
            {{ backstory.notes }}
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
