<div>
  <span>
    Name: <strong>{{ character.characterName }}</strong> | Level:
    <strong>{{ character.level }}</strong>
  </span>
  <br />
  <span>
    Class: <strong>{{ character.class }}</strong> | Race:
    <strong>{{ character.race }}</strong>
  </span>
  <br />
  <span>
    App Mode: <strong>{{ mode }}</strong>
  </span>
  <br />
  <button (click)="fetchFeats()">Fetch Feats</button>
</div>
<mat-tab-group>
  <mat-tab label="Main Page">
    <app-main-character-page
      class="container"
      [mode]="mode"
      [rowHeight]="rowHeight"
      [character]="character"
      [actionsList]="actionsList | async"
      (healthChange)="handleHealthChange($event)" />
  </mat-tab>
  <mat-tab label="Feats & Inventory">
    <div class="container">
      <mat-grid-list cols="1" rowHeight="{{ rowHeight / 3 }}rem">
        <mat-grid-tile [rowspan]="5">
          <app-feats
            class="grid-field"
            [rowHeight]="rowHeight / 3"
            [featList]="featsList | async" />
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="4">
          <app-inventory
            class="grid-field"
            [inventory]="inventoryWithItems"
            [investedItems]="InvestedItems"
            [equippedItems]="equippedItems"
            (equipmentChange)="changeEquipment($event)" />
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
  <mat-tab label="RP page (name pending)">
    <div class="container">
      <app-backstory
        [name]="character.characterName"
        [race]="character.race"
        [backstory]="character.backstory"
        [rowHeight]="rowHeight / 4"
        [mode]="mode" />
    </div>
  </mat-tab>
  <mat-tab label="Spell Book">
    <div class="container">
      <app-spell-book [spellList]="spellsList | async" />
    </div>
  </mat-tab>
</mat-tab-group>
