.container {
  padding: 1rem;
}

mat-grid-tile {
  border: 1px solid black;
}

.grid-field {
  width: 100%;
  height: 100%;
}

.spell-book {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  & > * {
    flex-basis: 50%;
  }
}
