form {
  display: flex;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;

  flex-basis: 18%;
  width: 100%;

  input {
    width: 100%;
  }
}

.button-group {
  display: flex;
  flex-direction: row;

  span {
    flex-basis: 70%;
  }

  button {
    flex-basis: 15%;
  }
}
