<ng-container *ngIf="cardOnly; else hoverCard">
  <ng-container *ngTemplateOutlet="featCard; context: { feat }"></ng-container>
</ng-container>

<ng-template #hoverCard>
  <app-hover-card
    *ngIf="feat"
    position="bottom"
    [hoverCardWidth]="20"
    class="feat">
    <div hoverable class="feat__box">
      {{ feat.name }}
      <ng-container *ngIf="choiceData">
        ({{ choiceData.choiceName }})
      </ng-container>
    </div>
    <ng-container
      card-content
      *ngTemplateOutlet="featCard; context: { feat }"></ng-container>
  </app-hover-card>
</ng-template>

<ng-template #featCard let-feat="feat">
  <div class="feat__card">
    <div class="feat__header">
      <span class="feat__name">
        {{ feat.name }}
        <ng-container *ngIf="choiceData">
          ({{ choiceData.choiceName }})
        </ng-container>
      </span>
      <span class="feat__level"> Feat {{ feat.level }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="feat__traits" *ngIf="feat.traits?.length">
      <app-trait
        position="top"
        *ngFor="let trait of feat.traits"
        [traitId]="trait"></app-trait>
    </div>
    <div class="feat__properties" *ngIf="feat.rules?.length">
      <div class="feat__property">
        <span class="feat__property-label">Prerequisits:</span>
        <ul>
          <li *ngFor="let rule of feat.rules">
            {{ rule.condition }}
          </li>
        </ul>
      </div>
    </div>
    <mat-divider *ngIf="feat.rules?.length"></mat-divider>
    <div class="feat__description">
      {{ feat.description }}
      <ng-container *ngIf="choiceData">
        <span class="feat__choice-label">{{ choiceData.choiceName }}:</span>
        {{ choiceData.description }}
      </ng-container>
    </div>
  </div>
</ng-template>
