.new-character-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > * {
    flex-basis: 100%;
    padding: 0.8rem 1.6rem;
    border: 1px solid black;
  }
}

.race {
  &__choice {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0.4rem;
  }

  &__abilities {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .boosts h4,
    .flaws h4 {
      font-weight: bold;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  &__trait-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;

    & > * {
      flex-basis: 24%;
    }
  }

  &__feat {
    display: flex;
    gap: 50%;
  }
}

.background {
  &__choice {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0.4rem;
  }

  &__feats {
    ul {
      display: flex;
      justify-content: space-between;
      gap: 0.8rem;
    }
  }
}

.classes {
  &__choice {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0.4rem;
  }

  &__feat {
    display: flex;
    gap: 50%;
  }
}

.additional-info-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.backstory {
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &.full-width {
      flex-basis: 100%;
    }

    &.half-width {
      width: 50%;
    }

    &.third-width {
      width: 33.33%;
    }
  }

  &__input {
  }
}

.required::after {
  content: '*';
  color: red;
}
