{{ additionalSkills.value | json }}
<mat-stepper #stepper (selectionChange)="onStepChanged($event)" linear="true">
  <mat-step>
    <ng-template matStepLabel>Select Ancestry</ng-template>
    <app-choose-race-form
      (race)="onRace($event)"
      (abilities)="onRaceAbilities($event)"
      (heritageFeat)="onHeritageFeat($event)"
      (ancestryFeat)="onRaceFeat($event)"></app-choose-race-form>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step [stepControl]="backgroundForm">
    <form>
      <div>
        <ng-template matStepLabel>Pick Background</ng-template>
        <form
          [formGroup]="backgroundForm"
          class="new-character-form background-form"
          *ngIf="backgrounds.length">
          <div class="background__choice">
            <label for="background" class="required">
              Choose characters background:
            </label>
            <select id="background" formControlName="background">
              <option value="" disabled selected hidden>
                Choose a Background
              </option>
              <option *ngFor="let value of backgrounds" [value]="value.id">
                {{ value.name }}
              </option>
            </select>
          </div>
          <ng-container *ngIf="chosenBackground">
            <div class="background__name">
              <h4 class="background__label">Chosen Background:</h4>
              {{ chosenBackground.name }}
            </div>
            <div class="background__description">
              <h4 class="background__label">Description:</h4>
              {{ chosenBackground.description }}
            </div>
            <div class="background__abilities">
              <h4 class="background__label" class="required">
                Ability Boosts Gained:
              </h4>
              <ul formArrayName="boosts">
                <li
                  *ngFor="
                    let boost of backgroundBoosts.controls;
                    let i = index
                  ">
                  <div
                    [formGroupName]="i"
                    [ngSwitch]="chosenBackground.boosts[i].type">
                    <app-boost-choice
                      [formControl]="boost.get('boost')! | toFormControl"
                      [exclude]="
                        backgroundBoosts.value | excludeForFreeBoost : i
                      "
                      *ngSwitchCase="boostTypes.free"></app-boost-choice>
                    <app-boost-choice
                      [formControl]="boost.get('boost')! | toFormControl"
                      [exclude]="
                        backgroundBoosts.value | excludeForFreeBoost : i
                      "
                      [enableOnly]="chosenBackground.boosts[i].abilities"
                      *ngSwitchCase="boostTypes.choice"></app-boost-choice>
                    <app-boost-choice
                      [formControl]="boost.get('boost')! | toFormControl"
                      [enableOnly]="chosenBackground.boosts[i].abilities"
                      *ngSwitchCase="boostTypes.set"></app-boost-choice>
                  </div>
                </li>
              </ul>
            </div>
            <div
              class="background__skills"
              *ngIf="chosenBackground.proficiencies?.length">
              <h4 class="background__label">Skill Proficiencies Gained:</h4>
              <ul>
                <li *ngFor="let proficiency of chosenBackground.proficiencies">
                  You become
                  <strong>
                    {{ proficiency.level }}
                  </strong>
                  in
                  <strong>
                    <ng-container *ngIf="proficiency.specialty">
                      {{ proficiency.specialty }}
                    </ng-container>
                    {{ proficiency.name }}
                  </strong>
                </li>
              </ul>
            </div>
            <div
              class="background__feats"
              *ngIf="chosenBackgroundFeats?.length">
              <h4 class="background__label">Feats Gained:</h4>
              <ul>
                <li
                  class="background__feat"
                  *ngFor="let feat of chosenBackgroundFeats">
                  <app-feat [feat]="feat" [cardOnly]="true"></app-feat>
                </li>
              </ul>
            </div>
          </ng-container>
        </form>
      </div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="chooseClassForm">
    <form>
      <ng-template matStepLabel>Choose a Class</ng-template>
      <form
        [formGroup]="chooseClassForm"
        class="new-character-form class-form"
        *ngIf="classes.length">
        <div class="classes__choice">
          <label for="class" class="required"> Choose characters class: </label>
          <select id="class" formControlName="class">
            <option value="" disabled selected hidden>Choose a Class</option>
            <option *ngFor="let value of classes" [value]="value.id">
              {{ value.name }}
            </option>
          </select>
        </div>
        <ng-container *ngIf="chosenClass">
          <div class="classes__name">
            <h4 class="classes__label">Chosen Class:</h4>
            {{ chosenClass.name }}
          </div>
          <div class="classes__description">
            <h4 class="classes__label">Description:</h4>
            {{ chosenClass.description }}
          </div>
          <div class="classes__details">
            <div>
              <h4>Hit Points Granted:</h4>
              {{ chosenClass.baseHp }}
            </div>
            <div>
              <h4>Key Ability:</h4>
              {{ chosenClass.keyAbility }}
            </div>
          </div>
          <div class="classes__abilities">
            <h4 class="classes__label">Ability Boosts Gained:</h4>
            <ul formArrayName="boosts">
              <li *ngFor="let boost of classBoosts.controls; let i = index">
                <div
                  [formGroupName]="i"
                  [ngSwitch]="chosenClass.boosts[i].type">
                  <app-boost-choice
                    [formControl]="boost.get('boost')! | toFormControl"
                    [exclude]="classBoosts.value | excludeForFreeBoost : i"
                    *ngSwitchCase="boostTypes.free"></app-boost-choice>
                  <app-boost-choice
                    [formControl]="boost.get('boost')! | toFormControl"
                    [exclude]="classBoosts.value | excludeForFreeBoost : i"
                    [enableOnly]="chosenClass.boosts[i].abilities"
                    *ngSwitchCase="boostTypes.choice"></app-boost-choice>
                  <app-boost-choice
                    [formControl]="boost.get('boost')! | toFormControl"
                    [enableOnly]="chosenClass.boosts[i].abilities"
                    *ngSwitchCase="boostTypes.set"></app-boost-choice>
                </div>
              </li>
            </ul>
          </div>
          <div
            class="classes__skills"
            *ngIf="chosenClass.proficiencies?.length">
            <h4 class="classes__label">Saving Throws Proficiencies Gained:</h4>
            <ul>
              <li *ngFor="let proficiency of chosenClass?.savingThrows">
                You become
                <strong>
                  {{ proficiency.level }}
                </strong>
                in
                <strong>
                  {{ proficiency.name }}
                </strong>
              </li>
            </ul>
          </div>
          <div
            class="classes__skills"
            *ngIf="chosenClass.proficiencies?.length">
            <h4 class="classes__label">Skill Proficiencies Gained:</h4>
            <ul>
              <li *ngFor="let proficiency of chosenClass?.proficiencies">
                You become
                <strong>
                  {{ proficiency.level }}
                </strong>
                in
                <strong>
                  <ng-container *ngIf="proficiency.specialty">
                    {{ proficiency.specialty }}
                  </ng-container>
                  {{ proficiency.name }}
                </strong>
              </li>
            </ul>
          </div>
          <div
            class="classes__skills"
            *ngIf="chosenClass.proficiencies?.length">
            <h4 class="classes__label">Weapon Proficiencies Gained:</h4>
            <ul>
              <li *ngFor="let proficiency of chosenClass?.weaponProficiencies">
                You become
                <strong>
                  {{ proficiency.level }}
                </strong>
                in
                <strong>
                  {{ proficiency.type }}
                </strong>
              </li>
            </ul>
          </div>
          <div
            class="classes__skills"
            *ngIf="chosenClass.proficiencies?.length">
            <h4 class="classes__label">Armor Proficiencies Gained:</h4>
            <ul>
              <li *ngFor="let proficiency of chosenClass?.armorProficiencies">
                You become
                <strong>
                  {{ proficiency.level }}
                </strong>
                in
                <strong>
                  {{ proficiency.type }}
                </strong>
              </li>
            </ul>
          </div>
          <div class="classes__features">
            <h4 calss="classes__label">Class Features:</h4>
          </div>
          <div class="classes__feat">
            <form [formGroup]="chooseClassForm">
              <label for="classFeats" class="required">Class feat:</label>
              <select id="classFeats" formControlName="feat">
                <option value="" disabled selected hidden>Choose a Feat</option>
                <option *ngFor="let feat of classFeats" [value]="feat.id">
                  {{ feat.name }}
                </option>
              </select>
            </form>
            <div *ngIf="chosenClassFeat">
              <app-feat [feat]="chosenClassFeat" [cardOnly]="true"></app-feat>
            </div>
          </div>
        </ng-container>
      </form>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="additionalSkills">
    <form class="additional-info-form">
      <ng-template matStepLabel>Remaining Choices</ng-template>
      <app-skill-proficiencies-form
        [toChange]="skillsToChange"
        [maxLevel]="proficiencies.T"
        [currentProficiencies]="chosenSkills"
        [formControl]="additionalSkills"></app-skill-proficiencies-form>
      <app-languages-input
        [formControl]="addLanguageControl"
        [toAdd]="languagesToAdd"></app-languages-input>
    </form>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Buy Equipment</ng-template>
      <ul>
        <li>calculate modifiers</li>
      </ul>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="detailsForm">
    <form [formGroup]="detailsForm" class="backstory__form">
      <ng-template matStepLabel>Finishing details</ng-template>
      <div class="backstory__form-group half-width">
        <label for="characterName" class="backstory__label required">
          Character Name:
        </label>
        <input type="text" id="characterName" formControlName="name" />
      </div>
      <div class="backstory__form-group half-width" formGroupName="backstory">
        <label for="alignment" class="backstory__label required">
          Alignment:
        </label>
        <select
          id="alignment"
          type="select"
          class="backstory__input"
          formControlName="alignment">
          <option
            *ngFor="let alignment of alignments | keyvalue : keepOrderLocal"
            [value]="alignment.value">
            {{ alignment.value }}
          </option>
        </select>
      </div>
      <div class="backstory__form-group full-width" formGroupName="backstory">
        <label for="story" class="backstory__label required">Backstory:</label>
        <textarea
          id="story"
          class="backstory__input"
          formControlName="story"></textarea>
      </div>
      <div class="backstory__form-group third-width" formGroupName="backstory">
        <label for="nationality" class="backstory__label">Nationality:</label>
        <input
          type="text"
          id="nationality"
          class="backstory__input"
          formControlName="nationality" />
      </div>
      <div class="backstory__form-group third-width" formGroupName="backstory">
        <label for="ethnicity" class="backstory__label">Ethnicity:</label>
        <input
          type="text"
          id="ethnicity"
          class="backstory__input"
          formControlName="ethnicity" />
      </div>
      <div class="backstory__form-group third-width" formGroupName="backstory">
        <label for="deity" class="backstory__label">Deity:</label>
        <input
          type="text"
          id="deity"
          class="backstory__input"
          formControlName="deity" />
      </div>
      <div class="backstory__form-group third-width" formGroupName="backstory">
        <label for="age" class="backstory__label">Age:</label>
        <input
          type="text"
          id="age"
          class="backstory__input"
          formControlName="age" />
      </div>
      <div class="backstory__form-group third-width" formGroupName="backstory">
        <label for="height" class="backstory__label">Height:</label>
        <input
          type="text"
          id="height"
          class="backstory__input"
          formControlName="height" />
      </div>
      <div class="backstory__form-group third-width" formGroupName="backstory">
        <label for="weight" class="backstory__label">Weight:</label>
        <input
          type="text"
          id="weight"
          class="backstory__input"
          formControlName="weight" />
      </div>
      <div class="backstory__form-group half-width" formGroupName="backstory">
        <label for="gender" class="backstory__label">Gender:</label>
        <input
          type="text"
          id="gender"
          class="backstory__input"
          formControlName="gender" />
      </div>
      <div class="backstory__form-group half-width" formGroupName="backstory">
        <label for="pronouns" class="backstory__label">Pronouns:</label>
        <input
          type="text"
          id="pronouns"
          class="backstory__input"
          formControlName="pronouns" />
      </div>
      <div class="backstory__form-group half-width" formGroupName="backstory">
        <label for="attitude" class="backstory__label">Attitude:</label>
        <textarea
          id="attitude"
          class="backstory__input"
          formControlName="attitude">
        </textarea>
      </div>
      <div class="backstory__form-group half-width" formGroupName="backstory">
        <label for="beliefs" class="backstory__label">Beliefs:</label>
        <textarea
          id="beliefs"
          class="backstory__input"
          formControlName="beliefs">
        </textarea>
      </div>
      <div class="backstory__form-group half-width" formGroupName="backstory">
        <label for="likes" class="backstory__label">Likes:</label>
        <textarea id="likes" class="backstory__input" formControlName="likes">
        </textarea>
      </div>
      <div class="backstory__form-group half-width" formGroupName="backstory">
        <label for="dislikes" class="backstory__label">Dislikes:</label>
        <textarea
          id="dislikes"
          class="backstory__input"
          formControlName="dislikes">
        </textarea>
      </div>
      <div class="backstory__form-group full-width" formGroupName="backstory">
        <label for="notes" class="backstory__label">Notes:</label>
        <textarea id="notes" class="backstory__input" formControlName="notes">
        </textarea>
      </div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Review</ng-template>
      <app-character-sheet></app-character-sheet>
    </form>
    <button mat-button matStepperPrevious>Back</button>
    <div>
      <label for="game-id"></label>
      <input id="game-id" type="text" [formControl]="gameIdControl" />
    </div>
    <button mat-button (click)="saveCharacter()">Create</button>
  </mat-step>
</mat-stepper>
