<mat-stepper #stepper>
  <mat-step [stepControl]="chooseRaceForm">
    <form [formGroup]="chooseRaceForm" class="new-character-form race-form">
      <ng-template matStepLabel>Select Ancestry</ng-template>
      <div class="race__choice">
        <label for="race">Choose character ancestry:</label>
        <select id="race" formControlName="race" (change)="raceChange()">
          <option value="" disabled selected hidden>Choose a Race</option>
          <option
            *ngFor="let race of races | keyvalue : keepOrderLocal"
            [value]="race.value">
            {{ race.value }}
          </option>
        </select>
      </div>
      <ng-container *ngIf="raceData">
        <div class="race__description">
          {{ raceData.description }}
        </div>
        <div class="race__abilities">
          <div class="boosts" *ngIf="raceData.boosts.length > 0">
            <span>Ability Boosts:</span>
            <ul>
              <li *ngFor="let boost of raceData.boosts">{{ boost }}</li>
            </ul>
          </div>
          <div class="flaws" *ngIf="raceData.flaws.length > 0">
            <span>Ability Flaws:</span>
            <ul>
              <li *ngFor="let flaw of raceData.flaws">{{ flaw }}</li>
            </ul>
          </div>
        </div>
        <div class="race__feat">choice of ancestry feat</div>
      </ng-container>
    </form>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Pick Background</ng-template>
      <ul>
        <li>assign boosts</li>
        <li>assign proficiencies</li>
        <li>assign lore training and skill feat</li>
      </ul>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Choose a Class</ng-template>
      <ul>
        <li>apply class ability boosts</li>
        <li>determine ability scores</li>
        <li>determine initial HP</li>
        <li>assign and calculate proficiencies</li>
        <li>record class details</li>
      </ul>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Buy Equipment</ng-template>
      <ul>
        <li>calculate modifiers</li>
      </ul>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="detailsForm">
    <form [formGroup]="detailsForm" class="backstory__form">
      <ng-template matStepLabel>Finishing details</ng-template>
      <div class="backstory__form-group half-width">
        <label for="characterName" class="backstory__label required">
          Character Name:
        </label>
        <input type="text" id="characterName" formControlName="name" />
      </div>
      <div class="backstory__form-group half-width" formGroupName="backstory">
        <label for="alignment" class="backstory__label required">
          Alignment:
        </label>
        <select
          id="alignment"
          type="select"
          class="backstory__input"
          formControlName="alignment">
          <option
            *ngFor="let alignment of alignments | keyvalue : keepOrderLocal"
            [value]="alignment.value">
            {{ alignment.value }}
          </option>
        </select>
      </div>
      <div class="backstory__form-group full-width" formGroupName="backstory">
        <label for="story" class="backstory__label required">Backstory:</label>
        <textarea
          id="story"
          class="backstory__input"
          formControlName="story"></textarea>
      </div>
      <div class="backstory__form-group third-width" formGroupName="backstory">
        <label for="nationality" class="backstory__label">Nationality:</label>
        <input
          type="text"
          id="nationality"
          class="backstory__input"
          formControlName="nationality" />
      </div>
      <div class="backstory__form-group third-width" formGroupName="backstory">
        <label for="ethnicity" class="backstory__label">Ethnicity:</label>
        <input
          type="text"
          id="ethnicity"
          class="backstory__input"
          formControlName="ethnicity" />
      </div>
      <div class="backstory__form-group third-width" formGroupName="backstory">
        <label for="deity" class="backstory__label">Deity:</label>
        <input
          type="text"
          id="deity"
          class="backstory__input"
          formControlName="deity" />
      </div>
      <div class="backstory__form-group third-width" formGroupName="backstory">
        <label for="age" class="backstory__label">Age:</label>
        <input
          type="text"
          id="age"
          class="backstory__input"
          formControlName="age" />
      </div>
      <div class="backstory__form-group third-width" formGroupName="backstory">
        <label for="height" class="backstory__label">Height:</label>
        <input
          type="text"
          id="height"
          class="backstory__input"
          formControlName="height" />
      </div>
      <div class="backstory__form-group third-width" formGroupName="backstory">
        <label for="weight" class="backstory__label">Weight:</label>
        <input
          type="text"
          id="weight"
          class="backstory__input"
          formControlName="weight" />
      </div>
      <div class="backstory__form-group half-width" formGroupName="backstory">
        <label for="gender" class="backstory__label">Gender:</label>
        <input
          type="text"
          id="gender"
          class="backstory__input"
          formControlName="gender" />
      </div>
      <div class="backstory__form-group half-width" formGroupName="backstory">
        <label for="pronouns" class="backstory__label">Pronouns:</label>
        <input
          type="text"
          id="pronouns"
          class="backstory__input"
          formControlName="pronouns" />
      </div>
      <div class="backstory__form-group half-width" formGroupName="backstory">
        <label for="attitude" class="backstory__label">Attitude:</label>
        <textarea
          id="attitude"
          class="backstory__input"
          formControlName="attitude">
        </textarea>
      </div>
      <div class="backstory__form-group half-width" formGroupName="backstory">
        <label for="beliefs" class="backstory__label">Beliefs:</label>
        <textarea
          id="beliefs"
          class="backstory__input"
          formControlName="beliefs">
        </textarea>
      </div>
      <div class="backstory__form-group half-width" formGroupName="backstory">
        <label for="likes" class="backstory__label">Likes:</label>
        <textarea id="likes" class="backstory__input" formControlName="likes">
        </textarea>
      </div>
      <div class="backstory__form-group half-width" formGroupName="backstory">
        <label for="dislikes" class="backstory__label">Dislikes:</label>
        <textarea
          id="dislikes"
          class="backstory__input"
          formControlName="dislikes">
        </textarea>
      </div>
      <div class="backstory__form-group full-width" formGroupName="backstory">
        <label for="notes" class="backstory__label">Notes:</label>
        <textarea id="notes" class="backstory__input" formControlName="notes">
        </textarea>
      </div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Review</ng-template>
      <p>Final character sheet overview</p>
      <app-character-sheet></app-character-sheet>
      <button mat-button matStepperPrevious>Back</button>
    </form>
  </mat-step>
</mat-stepper>
