<mat-grid-list cols="4" rowHeight="{{ rowHeight }}rem">
  <mat-grid-tile [colspan]="1" [rowspan]="5">
    <div class="feat-list">
      <h3>Ancestry feats</h3>
      <ul>
        <li *ngFor="let feat of ancestryFeats">
          {{ feat.name }}:{{ feat.level }}
        </li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="5">
    <div class="feat-list">
      <h3>Skill feats</h3>
      <ul>
        <li *ngFor="let feat of skillFeats">
          {{ feat.name }}:{{ feat.level }}
        </li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="3">
    <div class="feat-list">
      <h3>General feats</h3>
      <ul>
        <li *ngFor="let feat of generalFeats">
          {{ feat.name }}:{{ feat.level }}
        </li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="5">
    <div class="feat-list">
      <h3>Class feats</h3>
      <ul>
        <li *ngFor="let feat of classFeats">
          {{ feat.name }}:{{ feat.level }}
        </li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <div class="feat-list">
      <h3>Bonus feats</h3>
      <ul>
        <li *ngFor="let feat of bonusFeats">
          {{ feat.name }}:{{ feat.level }}
        </li>
      </ul>
    </div>
  </mat-grid-tile>
</mat-grid-list>
