<mat-grid-list [cols]="60" rowHeight="{{ rowHeight }}rem">
  <mat-grid-tile [rowspan]="1" [colspan]="60">
    <div class="grid-field">
      <h2>Filter content</h2>
      <form class="actions__form" #filterForm="ngForm">
        <div class="actions__filter-field">
          <label for="name">Search Action Name or Trait</label>
          <input
            id="name"
            type="text"
            [(ngModel)]="filters.name"
            name="name"
            autocomplete="off" />
        </div>
        <div class="actions__filter-field">
          <mat-button-toggle-group
            [(ngModel)]="filters.source"
            multiple
            name="source">
            <mat-button-toggle
              *ngFor="let source of actionSource | keyvalue : keepOrderLocal"
              [value]="source.value">
              {{ source.value }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="actions__filter-field">
          <mat-button-toggle-group
            [(ngModel)]="filters.category"
            multiple
            name="category">
            <mat-button-toggle
              *ngFor="let type of actionType | keyvalue : keepOrderLocal"
              [value]="type.value">
              {{ type.value }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </form>
    </div>
  </mat-grid-tile>
  <ng-container *ngFor="let type of actionType | keyvalue : keepOrderLocal">
    <mat-grid-tile
      [rowspan]="5"
      [colspan]="filters.category.length ? 60 / filters.category.length : 12"
      *ngIf="
        filters.category.includes(type.value) || filters.category.length === 0
      ">
      <div class="grid-field">
        {{ type.value }} Actions
        <!-- class="grid-field" -->
        <app-action-list
          [actions]="sortedActions[type.value]"
          [filters]="filters"></app-action-list>
      </div>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
