<mat-grid-list [cols]="12" rowHeight="{{ rowHeight }}rem">
  <mat-grid-tile [rowspan]="1" [colspan]="6">
    <div class="grid-field">Filter content</div>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="6">
    <div class="grid-field">
      <mat-button-toggle-group [(ngModel)]="columnsToShow" multiple>
        <mat-button-toggle
          *ngFor="let type of actionType | keyvalue : keepOrderLocal"
          [value]="type.value">
          {{ type.value }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-grid-tile>
  <ng-container *ngFor="let type of actionType | keyvalue : keepOrderLocal">
    <mat-grid-tile
      [rowspan]="1"
      [colspan]="columnsToShow.length ? 12 / columnsToShow.length : 3"
      *ngIf="columnsToShow.includes(type.value) || columnsToShow.length === 0">
      <div class="grid-field">{{ type.value }} Actions</div>
    </mat-grid-tile>
  </ng-container>
  <ng-container *ngFor="let type of actionType | keyvalue : keepOrderLocal">
    <mat-grid-tile
      [rowspan]="4"
      [colspan]="columnsToShow.length ? 12 / columnsToShow.length : 3"
      *ngIf="columnsToShow.includes(type.value) || columnsToShow.length === 0">
      <app-action-list
        class="grid-field"
        [actions]="sortedActions[type.value]"></app-action-list>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
